/* 
	Project name
	Author: Thong Pham
	Version: 0.0.1
*/
/* BASE - Base styles, variable, mixins, etc */
#mm-blocker {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.content {
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.cls {
  clear: both;
}

.pad {
  padding: 15px;
}

.mar {
  margin: 15px;
}

.pad-0 {
  padding: 0;
}

.mar-0 {
  margin: 0;
}

.no-radius {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-background-clip: padding-box;
  -moz-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}

.rounded {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.no-wrap {
  white-space: nowrap;
}

.w-100 {
  width: 100% !important;
}

.mw-100 {
  max-width: 100%;
}

.mar-b-0 {
  margin-bottom: 0px !important;
}

.mar-b-5 {
  margin-bottom: 5px !important;
}

.mar-b-10 {
  margin-bottom: 10px !important;
}

.mar-b-15 {
  margin-bottom: 15px !important;
}

.mar-b-20 {
  margin-bottom: 20px !important;
}

.mar-b-25 {
  margin-bottom: 25px !important;
}

.mar-b-30 {
  margin-bottom: 30px !important;
}

.mar-b-35 {
  margin-bottom: 35px !important;
}

.mar-b-40 {
  margin-bottom: 40px !important;
}

.mar-b-45 {
  margin-bottom: 45px !important;
}

.mar-b-50 {
  margin-bottom: 50px !important;
}

@-webkit-keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

/* EFF - # */
/* 2D TRANSITIONS */
/* BACKGROUND TRANSITIONS */
/* BORDER TRANSITIONS */
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* SHADOW/GLOW TRANSITIONS */
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* SPEECH BUBBLES */
/* ICONS */
/* CURLS */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* MODULES - Individual site components */
#back_to_top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 15px;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  border: solid 1px #ccc;
  background-color: #fff;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#back_to_top:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#back_to_top:hover {
  background-color: #e9ebec;
}

.best-tools {
  background-image: url(../images/home/home-bg-slide-fullwidth.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #fff;
  padding-bottom: 270px;
  padding-top: 120px;
  margin-bottom: 115px;
}

.best-tools .butn-get {
  font-size: 14px;
  font-weight: 600;
  color: #24253A;
  border-radius: 7px;
  background-color: #fff;
  border: none;
  outline: none !important;
  padding: 9px 20px;
}

.best-tools .butn-get img {
  padding: 0 10px;
}

.best-tools .butn-get.hvr-float-shadow {
  transform: perspective(0) translateZ(0);
  transition: 0.3s;
}

.best-tools .butn-get.hvr-float-shadow:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}

.best-tools .page-title-main {
  font-size: 42px;
  margin: 0;
  margin-bottom: 30px;
}

.best-tools .descript {
  font-size: 19px;
  margin-bottom: 90px;
}

.perfect-sales {
  margin-bottom: 135px;
}

.perfect-sales__left {
  margin-bottom: 100px;
}

.perfect-sales__left h3 {
  font-size: 38px;
}

.perfect-sales__right .sales_item {
  display: table;
}

.perfect-sales__right .sales_item > div {
  transition: 0.3s;
}

.perfect-sales__right .sales_item > div:hover {
  box-shadow: 4px 4px 30px #bfbfbf;
}

.perfect-sales__right .img-icon,
.perfect-sales__right article {
  display: table-cell;
}

.perfect-sales__right .img-icon {
  margin-right: 15px;
  width: 55px;
  text-align: left;
}

.perfect-sales__right article {
  vertical-align: top;
  text-align: left;
}

.perfect-sales__right article h4 {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
}

.perfect-sales__right article p {
  font-size: 16px;
  font-weight: 300;
}

.perfect-sales .sales_item > div {
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.15s;
}

section.customers {
  background-color: #184FB3;
  background-image: url("../images/home/count-bg.png");
  background-attachment: fixed;
  background-size: contain;
  position: relative;
}

section.customers:after {
  content: '';
  background-image: url(../images/home/count-start.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

section.customers h2 {
  max-width: 980px;
  margin: auto;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 110px;
  color: #fff;
  max-width: 980px;
  position: relative;
  z-index: 9;
}

section.customers h2 span {
  margin: 0 5px;
  font-weight: 700;
  font-size: 40px;
}

.app-websites {
  overflow: hidden;
}

.app-websites .app-websites__left img {
  max-width: 100%;
}

.app-websites .app-websites__right {
  padding: 75px 75px 70px 75px;
}

.app-websites .app-websites__right .page-title {
  margin-bottom: 20px;
}

.app-websites .panel-title img {
  margin-right: 15px;
}

.app-websites__wrap {
  max-width: 560px;
}

.app-websites__wrap a[data-toggle="collapse"] {
  padding: 25px 30px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.app-websites__wrap a[data-toggle="collapse"] img {
  margin-right: 15px;
  margin-top: -1px;
}

.app-websites__wrap .panel {
  transition: 0.15s;
  box-shadow: none;
  border: none !important;
  background: transparent;
  box-shadow: 0 0 0px transparent;
}

.app-websites__wrap .panel .panel-body {
  padding: 0 30px;
  padding-bottom: 40px;
  color: #666666;
  font-weight: 300;
  line-height: 2;
  position: relative;
  padding-top: 10px;
}

.app-websites__wrap .panel .panel-body:before {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 80px;
  height: 1px;
  background-color: #E5E5E5;
  left: 30px;
}

.app-websites__wrap .collapse-in {
  background-color: #fff;
  box-shadow: 4px 4px 30px #bfbfbf;
}

.how-using {
  overflow: hidden;
}

.how-using__left h5 {
  font-size: 16px;
}

.how-using__left h2 {
  font-size: 38px;
}

.how-using__left__wrap {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);
}

.how-using__right {
  background-image: url("../images/home/Placeholder.png");
  background-size: cover;
  height: 640px;
}

.customers-review {
  margin-top: 70px;
}

.customers-review .owl-customers-review {
  text-align: center;
}

.customers-review .owl-customers-review .item {
  max-width: 1024px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: none;
}

.customers-review .owl-customers-review .item .img-quote {
  width: inherit;
  margin: auto;
  margin-bottom: 30px;
}

.customers-review .owl-customers-review .item p {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 50px;
}

.customers-review .owl-customers-review .item h5 {
  font-size: 32px;
  font-weight: 600;
}

.customers-review .owl-customers-review .owl-nav {
  width: 100%;
  top: 50%;
  height: 0;
}

.customers-review .owl-customers-review .owl-nav [class*=owl-] {
  font-size: 55px;
  padding: 0 15px;
  background-color: transparent;
  color: #969698;
  transform: translateY(-50%);
}

.customers-review .owl-customers-review .owl-nav [class*=owl-]:hover {
  color: #c2c2c3;
}

.customers-review .owl-customers-review .owl-nav .owl-prev {
  float: left;
}

.customers-review .owl-customers-review .owl-nav .owl-next {
  float: right;
}

.customers-review .owl-customers-review .owl-dots {
  margin-top: 15px;
}

.best-service {
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.best-service .butn-started {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 65px;
  outline: none !important;
  border: none;
  background: -moz-linear-gradient(90deg, #F00B51 0, #730062 100%);
  background: -webkit-gradient(linear, 90deg, color-stop(0, F00B51), color-stop(100%, 730062));
  background: -webkit-linear-gradient(90deg, #F00B51 0, #730062 100%);
  background: -o-linear-gradient(90deg, #F00B51 0, #730062 100%);
  background: -ms-linear-gradient(90deg, #F00B51 0, #730062 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  background: linear-gradient(90deg, #F00B51 0, #730062 100%);
}

.best-service .hvr-float-shadow {
  transform: perspective(0) translateZ(0);
  transition: 0.3s;
}

.best-service .hvr-float-shadow:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}

.best-service__left {
  padding-top: 50px;
  padding-bottom: 70px;
}

.best-service__left .page-subtitle {
  color: #666;
}

@media only screen and (max-width: 1200px) {
  .app-websites__wrap {
    max-width: 100%;
  }
  .app-websites .app-websites__right {
    padding: 30px;
  }
  .how-using__left {
    background-image: url(../images/home/Placeholder.png);
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    height: 640px;
  }
  .how-using__left__wrap {
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 25px 50px;
  }
  .how-using__left__wrap {
    left: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .how-using__left__wrap {
    padding: 20px;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .best-tools__left {
    padding-top: 115px;
  }
  .how-using__left {
    height: 640px;
  }
  .how-using__left__wrap {
    max-width: 500px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
  }
}

.menu-icon {
  position: relative;
  max-width: 5.5rem;
  max-height: 4.125rem;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.menu-icon path {
  stoke: #363636;
  stroke-width: 5;
  stoke-linecap: round;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  will-change: transform, opacity;
}

.menu-button:hover path,
.menu-button:focus path,
.menu-button:active path {
  stroke: #D00251;
}

.menu-icon.is-active path:nth-child(1) {
  opacity: 0;
}

.menu-icon.is-active path:nth-child(4) {
  opacity: 0;
}

.menu-icon.is-active path:nth-child(2) {
  transform: rotate(45deg);
}

.menu-icon.is-active path:nth-child(3) {
  transform: rotate(-45deg);
}

.page-title {
  font-weight: 600;
  color: #333;
  font-size: 38px;
  margin: 0;
  margin-bottom: 5px;
}

.page-subtitle {
  color: #999999;
  font-size: 19px;
  max-width: 600px;
  margin: auto;
  font-weight: 400;
}

.page-subtitle-top {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.page-title-main {
  font-size: 51px;
  font-weight: 600;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 35px;
  height: 23px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* PAGES - styles */
/* PAGES - Contact */
/* PAGES - Home */
/* LAYOUTS - styles */
@media only screen and (max-width: 1200px) {
  .header__menu_top {
    overflow: hidden;
    transition: 0.3s;
    height: 0;
  }
  .header__menu_top ul {
    padding-bottom: 30px !important;
  }
  .header__menu_top ul li {
    display: block !important;
  }
  .header__menu_top ul li a {
    padding: 10px !important;
  }
  .header__menu_top.is-active {
    height: inherit;
  }
}

header.header .top-navbar {
  background-color: #24253A;
}

header.header .header__menu_top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header.header .header__menu_top ul li {
  display: inline-block;
}

header.header .header__menu_top ul a {
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  font-size: 14px;
  padding: 31px 20px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

header.header .header__menu_top ul a:before, header.header .header__menu_top ul a:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: 0.3s;
}

header.header .header__menu_top ul a:after {
  right: 50%;
}

header.header .header__menu_top ul a:before {
  left: 50%;
}

header.header .header__menu_top ul a:hover {
  color: #F33D66;
}

header.header .header__menu_top ul a:hover:before, header.header .header__menu_top ul a:hover:after {
  background-color: #F33D66;
  width: 30%;
}

header.header .header__menu_right {
  text-align: right;
}

header.header .header__menu_right a {
  display: inline-block;
  padding: 30px 10px;
}

header.header .header__logo {
  padding: 18px 0;
}

footer.footer {
  background-color: #24253A;
}

footer.footer .footer__top {
  padding-top: 73px;
  padding-bottom: 60px;
}

footer.footer .footer__social ul,
footer.footer .footer__menu ul,
footer.footer .footer__bot__policy ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer.footer .footer__social ul a,
footer.footer .footer__menu ul a,
footer.footer .footer__bot__policy ul a {
  text-decoration: none;
}

footer.footer .footer__social ul li,
footer.footer .footer__menu ul li,
footer.footer .footer__bot__policy ul li {
  display: inline-block;
}

footer.footer .footer__menu ul,
footer.footer .footer__social ul {
  padding-top: 13px;
  padding-bottom: 13px;
}

footer.footer .footer__menu ul {
  padding-top: 13px;
  padding-bottom: 13px;
}

footer.footer .footer__menu ul li {
  padding: 0 20px;
  margin-bottom: 5px;
}

footer.footer .footer__menu ul a {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

footer.footer .footer__social li {
  padding: 0 10px;
}

footer.footer .footer__social li:last-child {
  padding-right: 0;
}

footer.footer .footer__social a:before {
  border-color: transparent;
}

footer.footer .footer__social a img {
  vertical-align: text-top;
}

footer.footer .footer__social a:hover:before {
  border-color: #e1e1e1;
}

footer.footer .footer__bot__policy a {
  font-weight: 600;
  color: #fff;
}

footer.footer .footer__bot__policy li {
  padding: 0 20px;
}

footer.footer .footer__bot__policy li:last-child {
  padding-right: 0;
}

footer.footer .footer__bot__copy {
  font-size: 14px;
  color: #A7A7B0;
}

footer.footer .footer__menu a,
footer.footer .footer__bot__policy a {
  transition: .3s;
}

footer.footer .footer__menu a:hover,
footer.footer .footer__bot__policy a:hover {
  color: #F33D66;
}

footer.footer .footer__bot {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer.footer hr {
  border-color: #3A3B4E;
  margin: 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  footer.footer .footer__menu ul li {
    padding: 0 10px;
  }
}

/* RESPONSIVE - Page layout styles mobile */
@media only screen and (max-width: 1500px) {
  .text-lg-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1200px) {
  .text-md-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 992px) {
  .text-sm-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 768px) {
  .text-xs-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 480px) {
  .text-min-center {
    text-align: center !important;
  }
}
