/* PAGES - alireviews */
.alireviews-page.full-width-video {
  background-image: url('../images/alireviews/bg.png');
}

.alireviews-page.full-width-title {
	.page-subtitle {
    margin-bottom: 30px;
  }

  img {
    margin-right: 10px;
  }

  .btn {
    border: none;
    outline: none !important;
    padding: 15px 25px;
    color: #fff;
    background: -moz-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    background: -webkit-gradient(linear, -45deg, color-stop(0, FFAD00), color-stop(100%, E87F1B));
    background: -webkit-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    background: -o-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    background: -ms-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    background: linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    border-radius: 7px;
    transition: $time;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.33);
    }
  }
}

.alireviews-page.left-img-content{
  .page-subtitle {
    margin-left: 0;
    margin-top: 30px;
  }
}

.more-do {
  padding-top: 60px;
  padding-bottom: 50px;

  .media--custom {
    margin-bottom: 45px;
  }
}

.get-it-now {
  background-image: url(../images/order/bg-get-it-now.png);
  padding-top: 120px;
  padding-bottom: 80px;
  background-position: center;
  background-size: cover;
  margin-bottom: -1px;

  .page-title {
    color: #fff;
  }

  .page-subtitle {
    color: #fff;
  }

  button {
    background-color: #fff;
    border: none;
    outline: none !important;
    border-radius: 7px;
    font-weight: 600;
    color: #24253A;
    padding: 12px 25px;
    transition: $time;

    &:hover {
      color: #fff;
      background: #F33D66;
    }

    &:active, &:focus {
      color: #fff !important;
      background: #d8375b !important;
    }
  }
}

.alireviews-page.mmenuz {
  li:last-child .btn {
    background: -moz-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    background: -webkit-gradient(linear, -45deg, color-stop(0, FFAD00), color-stop(100%, E87F1B));
    background: -webkit-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    background: -o-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    background: -ms-linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    background: linear-gradient(-45deg, #FFAD00 0, #E87F1B 100%);
  }
}

.alireviews-page.img-three-column {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: url('../images/components/bg-img-three.png');
  background-attachment: fixed;
}

@media only screen and (max-width: 992px) { 
  .alireviews-page.img-three-column .img-three__item {
    margin-bottom: 50px !important;

    &__img {
      margin-bottom: 15px !important;
    }
  }
}