$footer-fz: 12px;

footer.footer {
  font-size: $footer-fz;
  background-color: #24253A;

  .footer__top {
    padding-top: 73px;
    padding-bottom: 60px;

    .footer__desc {
      color: #fff;
      line-height: 1.6;
    }

    .footer__social {
      a {
        vertical-align: top;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .footer__menu {
      clear: both;
      
      h6 {
        color: #fff;
        margin: 0;
        font-size: $footer-fz;
        font-weight: 600;
        margin-bottom: 40px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 30px;

          a {
            text-decoration: none;
            transition: $time;
            color: #fff;
            line-height: 1.5;


            &:hover {
              color: #F33D66;
            }
          }
        }
      }
    }
  }

  .footer__bot {
    padding-top: 30px;
    padding-bottom: 30px;

    &__copy {
      font-size: $footer-fz;
      color: #A7A7B0;
    }

    &__policy {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      a {
        font-weight: 600;
        color: #fff;
        transition: .3s;
        text-decoration: none;
        color: #92929D;
  
        &:hover {
          color: #F33D66;
        }
      }
  
      li {
        padding: 0 5px;
        display: inline-block;
        color: #92929D;
  
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  hr {
    border-color: #3A3B4E;
    margin: 0;
  }
}

// MIN WIDTH
@media only screen and (max-width: 1200px) { 
  footer.footer .footer__top .footer__menu__item {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 992px) { 
  footer.footer {
    text-align: center;
    
    .footer__top .footer__menu__item {
      padding-top: 70px;
    }
  }
}

@media screen and (min-width:992px) and (max-width: 1200px) {
  footer.footer .footer__menu ul li {
    padding: 0 10px;
  }
}
