.page-title {
  font-weight: 600;
  color: #333;
  font-size: 38px;
  margin: 0;
  margin-bottom: 5px;
}

.page-subtitle {
  color: #999999;
  font-size: 19px;
  max-width: 600px;
  margin: auto;
  font-weight: 400;

  &--small {
    font-size: 16px;
  }

  &--no-mar {
    margin: initial;
  }
}

.page-subtitle-top {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.page-title-main {
  font-size: 51px;
  font-weight: 600;
}